body{
    /* background-color: black; */
    color: black;
    font-family: Open Sans Condensed ;
}

header{
    font-size: 25px; 
    
}

nav{
    font-size: 20px;
    margin-left: 20px; 
    padding: 10px;
                   
}
nav a{
    border: 1px solid sienna;
    text-decoration: none;
    font-size: 20px;
    margin-left: 20px; 
    padding: 10px;

}

a{
    color:black;
}

.meetteam{
    font-family: Lobster;
    text-align: center;
    font-size: 50px;
    color:black;
    margin-top: 10px;
    margin-bottom: 10px;
    border-top: 1px solid lightsalmon;
       
}
.container{
    margin: 0 auto;
    width: 900px;
    background-color:white; 
    
}

.placeholder {
    margin-top: 10px;
    width: 800px;
    height: 500px;
    margin-left: 40px;
    display: inline-block;
    border-style: double;
    border-color: black;
    
}
.imgone{
    float: left;
    height: 400px;
    width: 300px;
    margin-left: 40px;
    margin-top: 30px;
    box-shadow: 30px -20px rgb(170, 209, 184);
    opacity: 10%;
    /* transform: rotate(90deg); */
    display: inline-block;
    border-style: groove;
    border-color: black;
    
} 

.imgtwo{
    float:right;
    height: 400px;
    width: 300px;
    margin-right: 95px;
    margin-top: 30px;
    box-shadow: 30px -20px lightskyblue;
    /* transform: rotate(90deg); */
    border-style: groove;
    border-color: black;
 }
.imgthree{
    float: left;
    height: 400px;
    width: 300px;
    margin-top: 130px;
    margin-left: 40px;
    box-shadow: -5px;
    box-shadow: 30px -20px rgb(148, 151, 155);
    /* transform: rotate(90deg); */
    border-style: groove;
    border-color: black;
}
.imgfour{
    float: right;
    height: 400px;
    width: 300px;
    margin-top: 130px;
    margin-right: 95px;
    box-shadow: 30px -20px rgb(99, 148, 124);
    /* transform: rotate(90deg); */
    border-style: groove;
    border-color: black;
}

.pone{
    position: absolute;
    margin-top: 440px;
    margin-left: 47px;
    width: 300px;
    
}
.ptwo{
    position: absolute;
    margin-top: 440px;
    margin-left: 505px;
    width: 300px;
}
.pthree{
    position: absolute;
    margin-top: 975px;
    margin-left: 47px;
    width: 300px;
    height: 300px;
}
.pfour{
    position: relative;
    margin-left: 505px;
    margin-top: 975px;
    width:300px;
}
.footerinfo{
    text-align: center;
    margin-top: -15px;
    font-size: 15px;
    line-height: 8px;
    padding: 60px;
}
footer{
    position: static;
    margin-top: 10px;
    border-top: 1px solid sienna;
}

